#btnLogin {
    color:#fff !important;
    margin-right:10px;
    width:100%;
    margin-top:35px;
    outline:0; 
    font-size:1em;
    font-weight:600;
    background:#de0000; 
    border:none;
    padding:1em 2em;
    transition:all .3s ease-out; 
    box-shadow:inset 0 -8px 0 0 rgba(0,0,0,.2),
      1px 1px 0 0 #000,
      2px 2px 0 0 #000,
      3px 3px 0 0 #000,
      4px 4px 0 0 #000,
      5px 5px 0 0 #000,
      6px 6px 0 0 #000,
      7px 7px 0 0 #000,
      8px 8px 0 0 #000,
      9px 9px 0 0 #000,
      10px 10px 0 0 #000,
      11px 11px 0 0 #000,
      12px 12px 0 0 #000;
}

#btnLogin:hover{
    color:#fff;
  }
  #btnLogin:active{
    color:#222;
    box-shadow:inset 0 -4px 0 0 rgba(0,0,0,.2),
      1px 1px 0 0 #000,
      2px 2px 0 0 #000,
      3px 3px 0 0 #000,
      4px 4px 0 0 #000,
      5px 5px 0 0 #000;
  }

  .registerbtn {
    color:#fff !important;
    margin-right:25%;
    margin-left:25%;
    margin-bottom:25px;
    width:50%;
    margin-top:35px;
    outline:0; 
    font-size:1em;
    font-weight:600;
    background:#de0000;
    border:none;
    padding:1em 2em;
    transition:all .3s ease-out; 
    box-shadow:inset 0 -8px 0 0 rgba(0,0,0,.2),
      1px 1px 0 0 #000,
      2px 2px 0 0 #000,
      3px 3px 0 0 #000,
      4px 4px 0 0 #000,
      5px 5px 0 0 #000,
      6px 6px 0 0 #000,
      7px 7px 0 0 #000,
      8px 8px 0 0 #000,
      9px 9px 0 0 #000,
      10px 10px 0 0 #000,
      11px 11px 0 0 #000,
      12px 12px 0 0 #000;
  }

  .signup-btn {
    display: block;
    color:#fff !important;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    margin-top:35px;
    outline:0; 
    font-size:1em;
    font-weight:600;
    background:#de0000;
    border:none;
    padding:1em 2em;
    transition:all .3s ease-out; 
    box-shadow:inset 0 -8px 0 0 rgba(0,0,0,.2),
      1px 1px 0 0 #000,
      2px 2px 0 0 #000,
      3px 3px 0 0 #000,
      4px 4px 0 0 #000,
      5px 5px 0 0 #000,
      6px 6px 0 0 #000,
      7px 7px 0 0 #000,
      8px 8px 0 0 #000,
      9px 9px 0 0 #000,
      10px 10px 0 0 #000,
      11px 11px 0 0 #000,
      12px 12px 0 0 #000;
  }

   .centerImage {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top:15px;
        width:128px;
        height: 128px;
    }

    .centerImage2 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top:15px;
    }
    
    .mainH2 {
        margin: 1em 0 0.5em 0;
        color: #343434;
        font-weight: normal;
        font-size:30px;
        line-height: 40px;
        text-align: center;
        text-shadow: 1px 1px 1px #000;
    }

    .errormsg {

    color: red;
    font-size: 16px;
    display: block;
}
       