/* Important part */
.ingredSharePic {
    width: 50px;
}

.recipeShareImg {
    max-width: 500px;
    width: 100%;
}

.recipeShareCard {
    max-width: 800px;
    width: 100%;
    margin: 10px;
}

.shareContainer {
    display: flex;
    justify-content: center;
}
