.savedListColumns {
    column-count: 1;
}

@media (min-width: 62em) {
    .savedListColumns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 75em) {
    .savedListColumns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}