.getRecipeList {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.searchbtn {
    text-align: center;
    font-weight: bold;
    background-image: linear-gradient(to right, #009245, rgb(235, 221, 34));
    box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}
