.rwnav {
    margin-top: 0.5rem;
}

.centerImageLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:15px;
    width: 80px;
    height: auto;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
    font-weight: bold;
    font-size: 16px;
    text-align: center;

}

